CONFIG_USER_LED_GPIO=15
CONFIG_TMC2209_VREF_GPIO=0
CONFIG_TMC2209_STEP_GPIO=1
CONFIG_TMC2209_DIR_GPIO=2
CONFIG_TMC2209_EN_GPIO=21
CONFIG_TMC2209_RX_GPIO=17
CONFIG_TMC2209_TX_GPIO=16
CONFIG_TMC2209_DIAG_GPIO=9
CONFIG_I2C_SDA_GPIO=22
CONFIG_I2C_SCL_GPIO=23
CONFIG_SWM_GPIO=18
CONFIG_SWC_GPIO=20
CONFIG_SWP_GPIO=19